# Ігнорувати каталоги, що починаються з "processor" і далі містять лише цифри
processor[0-9]*/

# Ігнорувати каталог VTK (з усім вмістом)
VTK/

# Ігнорувати каталоги, ім'я яких є числовими з десятковою крапкою 
# (наприклад, 0.1, 0.2, 1.2, 2.43)
[0-9]*.[0-9]*/

# Ігнорувати також каталоги, ім'я яких складається виключно з цифр (наприклад, 1, 42, 100)
[0-9]*/

# Не ігнорувати каталог "0." – реінклюзія
!0./
